*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f6;
}

#navbar{
  background-color: white;
  padding: 20px 15px;
}

.container{
  margin: auto;
}

.navbar-nav{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: #1f2937;
  padding: 6px 14px;
  border-radius: 20px;
  transition: .2s;
}

.nav-link:hover, .nav-link.active{
  color: #f3f4f6;
  background-color: #1e88e5;
}

.slider{
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slide{
  position: absolute;
  inset: 0;
  transition: all .5s;
}

.img-slide{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide-caption{
  position: absolute;
  inset: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-caption p{
  color: #e5e7eb;
  font-size: 2rem;
  transform: translateY(100px);
  opacity: 0;
  transition: all .3s ease-in .3s;
}

.active .slide-caption p{
  transform: translateY(0);
  opacity: 1;
}

.btn-prev, .btn-next {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #d1d5db;
  font-size: 18px;
  transition: .2s;
}

.btn-prev:disabled, .btn-next:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn-prev:hover, .btn-next:hover{
  background-color: #fff;
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

#form-data-diri {
  margin: 30px auto;
  background-color: white;
  max-width: 800px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.58);
  -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.58);
  padding: 15px 20px;
  border-radius: 10px;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], select, textarea{
  margin-top: 3px;
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: white;
  outline: none;
  border: 1px solid #b7b7a4;
  border-radius: 6px;
  transition: 0.2s;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus{
  border-color: #1565c0;
  box-shadow: 0px 0px 5px 1px rgba(21,101,192,0.33);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(21,101,192,0.33);
  -moz-box-shadow: 0px 0px 5px 1px rgba(21,101,192,0.33);
}

input[type="radio"], input[type="checkbox"] {
  accent-color: #1e88e5;
}

.btn-daftar{
  padding: 7px 10px;
  color: white;
  outline: none;
  background-color: #1976d2;
  border-color: transparent;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: .06em;
  cursor: pointer;
  transition: .3s;
}

.btn-daftar:hover, .btn-daftar:active{
  background-color: #1565c0;
}

.title-page{
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
}

.container-api{
  margin: auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card{
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.card-title{
  padding: 10px 20px;
}